**/__pycache__/
*.egg-info
logs/
IsaacLab/
experiments/
rl_x/
training/
_orbit*
.vscode/
wandb/
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/Generated
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/Generated-Ablation/*/.*
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/GenBot1K-v0
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/GenBot1K-v1
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/GenBot1K-v2
log_dir/
.*
logs*
jobs/
jobs-logs/
jobs_play_collect_data_logs/
