**/__pycache__/
*.egg-info
logs/
IsaacLab/
experiments/
rl_x/
training/
_orbit*
.vscode/
wandb/
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/Generated
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/Generated-Ablation/*/.*
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/GenBot1K-v0
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/GenBot1K-v1
log_dir*/
old_logs_jan15/
exts/berkeley_humanoid/berkeley_humanoid/assets/Robots/GenBot1K-v2
.*
logs*
jobs/
job_logs/
zips/
generation/jobs_scaling_factors
log_dir*/
generation/jobs_scaling_factors*